{% extends 'admin/base.html.twig' %}

{% block title %}<title>Browse Users</title>{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <h4 class="m-t-0 header-title">Users</h4>
                <p class="text-muted font-14 m-b-30">
                </p>
                <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dt-buttons btn-group">
                                <a href="{{ path('user_back_new') }}" class="btn btn-secondary buttons-copy buttons-html5">
                                    <span> AJOUTER UN NOUVEAU LOGISTICIEN </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>email</th>
                                    <th>telephone</th>
                                    <th>adresse</th>
                                    <th>Roles</th>
                                    <th>Is Verified?</th>
                                    <th>Details</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.adresse }}</td>
                                        <td>{{ user.telephone }}</td>

                                        <td>
                                            <ul>
                                            {% for role in user.roles %}
                                                <li>
                                                    {{ role }}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{% if(user.isVerified == 1) %} Yes {% else %} No {% endif %}</td>
                                        <td>
                                            <a href="{{ path('user_back_show', {'id': user.id}) }}">show</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_back_edit', {'id': user.id}) }}">edit</a>
                                        </td>

                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="">no records found</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}